.swiperContainer {
  width: 57%;
}

.imagemCarrossel {
  width: 100%;
  border-radius: 10px;
}

.swiper-pagination-bullet {
  opacity: 100% !important;
  width: 1rem !important;
  height: 1rem !important;
  margin: 0 1rem 0 1rem !important;
}
